:root {
  --background: #11120d;
  --primary: #fffbf4;
  --secondary: #565449;
  --tertiary: #d8cfbc;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
html {
  min-height: 100%;
}
img {
  width: 100%;
}
body {
  background-image: linear-gradient(var(--background) 70%, var(--secondary));
  height: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  margin-bottom: 20px;
}
p {
  max-width: 65ch;
}
.logo {
  width: 50px;
  height: 50px;
  place-self: center;
}
nav {
  display: flex;

  justify-content: space-between;
  place-content: center;
}
.menu {
  text-decoration: none;
  background-color: var(--tertiary);
  color: var(--background);
  margin: 15px;
  place-self: center;
  padding: 5px;
  border-radius: 10px;
  font-size: calc(2px + 1.5vw);
  transition: 0.1s;
}
.menu:hover {
  transform: scale(1.05);
  background-color: var(--primary);
}
footer {
  display: flex;
  justify-content: space-between;
  bottom: 0;
  margin-top: 100px;
  place-self: end center;
  background-color: var(--background);
  color: var(--tertiary);
  width: 80vw;
  padding: 30px;
  border-radius: 5px 5px 0 0;
}
footer > * {
  max-width: 15ch;
  text-wrap: auto;
}

#c_container {
  width: 80%;
  margin: auto;
  align-items: center;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  gap: 50px;
  /* border: red 3px solid; */
}
@media (min-width: 1200px) {
  .c_container {
    /* background-color: aqua; */
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.catagory {
  display: grid;
  place-items: center;
  height: 15vw;

  background-color: var(--secondary);
  border-radius: 5px;

  text-decoration: none;
  color: var(--primary);
  font-size: 3.5rem;

  transition: 0.2s ease-in-out;

  box-shadow: 0px 0px 20px var(--tertiary);
  font-family: "Rubik Doodle Shadow", system-ui;
}
.catagory:hover {
  background-color: darkgrey;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.441);
  transform: scale(1.1);
}

#p_container {
  max-width: 1000px;
  margin: auto;
  align-items: center;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  gap: 10px;
}
.product {
  /* height: 100px; */
  /* border: 2px red solid; */
  border-radius: 10px;
  display: grid;
  grid-template-rows: 4fr 1fr;
  grid-template-columns: 1fr;
  text-decoration: none;
  /* padding: 20px; */
  background-color: var(--tertiary);
  color: var(--secondary);
  transition: 0.2s all ease;
  height: 100%;
  max-width: 300px;

  overflow: hidden;
}
.product:hover {
  transform: scale(1.01);
}

.pName,
.brand,
.price,
.sPrice {
  grid-row: 2/3;
  grid-column: 1/2;
  padding: 5px;
}
.pName {
  font-size: 0.9rem;
  max-width: 20ch;
  line-height: 1rem;
  overflow: hidden;
  place-self: end left;
  /* margin-bottom: -px; */
}
.price {
  place-self: start right;
  font-size: 1.2rem;
  padding-top: 0;
}
.sPrice {
  display: none;
  place-self: start right;
  margin-top: 1.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  padding-top: 0;
}
.brand {
  place-self: start left;
  font-size: 1.2rem;
  padding-top: 1px;
}
.pImg {
  grid-row: 1/2;
  grid-column: 1/2;
  place-self: center;
  img {
    border-radius: 10px 10px 0 0;
  }
}

.onsale {
  .sale {
    display: block;
  }
  .price {
    text-decoration: line-through;
    font-weight: 300;
  }
  .sPrice {
    display: block;
    color: red;
  }
}
.outsold {
  .soldout {
    display: flex;
  }
  .sale {
    display: none;
  }
}
.soldout {
  box-shadow: none;
  display: none;
  background-color: rgba(44, 44, 44, 0.8);
  grid-row: 1/3;
  grid-column: 1/2;
  z-index: 2;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  color: white;
  pointer-events: none;
}

.sale {
  display: none;
  background-color: rgba(255, 0, 0, 0.7);
  width: 200px;
  padding: 10px;
  font-size: 1rem;
  color: white;
  grid-row: 1/2;
  grid-column: 1/2;
  place-self: start right;
  margin-right: -55px;
  margin-top: 20px;
  /* border-radius: 0 0 0 20px; */
  transform: rotate(35deg);
  text-align: center;
}

#productContainer {
  background-color: var(--background);
  margin: auto;
  gap: 10px;
  /* padding: 20px; */
  width: 80vw;
  max-width: 1400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto auto 1fr;
  border-radius: 10px;
  /* border: red 5px solid; */
}
@media (max-width: 850px) {
  #productContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
}
#productContainer > img {
  border-radius: 10px 0 0 10px;
}

.sText {
  display: subgrid;

  padding: 50px;
  justify-items: center;
  color: var(--primary);
  grid-row: 1/-1;
}
#ppImg {
  grid-row: 1/3;
  aspect-ratio: 9/16;
}
#ppName {
  font-size: calc(8px + 2vw);
  text-wrap: auto;
  place-content: center;
  text-align: center;
}
#ppBrand {
  font-weight: 700;
  font-size: calc(8px + 1vw);
}
#ppB {
  display: flex;
  place-items: end center;
  gap: 20px;
}
#ppPrice,
#ppSale {
  font-size: calc(8px + 1.2vw);
  font-weight: 300;
}
#ppBrandB {
  margin-top: 7px;
}

#ppBrandP {
  width: 40px;
  height: 40px;
}
#addCart {
  place-self: end center;
  height: calc(30px + 2.5vw);
  width: calc(40px + 7vw);

  background-color: var(--primary);
  color: var(--background);
  font-size: 1.5rem;

  border-radius: 7px;
  transition: 0.1s;
}
#addCart:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#addCart:active {
  background-color: var(--tertiary);
}

.button {
  display: block;
  padding: 10px;
  width: 60px;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: var(--tertiary);
  text-decoration: none;
  color: var(--background);
  text-align: center;
  transition: 0.1s;
}
.button:hover {
  transform: scale(1.05);
  background-color: var(--primary);
}

#buttonContainer {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  place-self: center;
}
#pageCounter {
  place-self: center;
  color: var(--primary);
  font-size: 1.4rem;
}

.hidden {
  display: none;
}

.crossed {
  text-decoration: line-through;
}

#limitBox {
  /* place-self: center; */
}
#boxHolder {
  margin: auto;
  display: flex;
  margin-bottom: 1rem;

  max-width: 1000px;
  place-content: space-between;
}
#filterBox {
  display: flex;
}
select {
  border-radius: 7px;
  width: 100px;
}
label {
  color: var(--primary);
}

#cName {
  margin-bottom: 4rem;
  color: var(--primary);
  place-self: center;
  font-size: 4rem;
  font-family: "Rubik Doodle Shadow", system-ui;
}

fieldset {
  width: 100px;
  color: var(--tertiary);
  position: absolute;
  place-self: center left;
  margin-left: 20px;
  padding: 10px;
}
